:root {
  --rowNum: 50;
  --colNum: 100;
  --vPercent: 60vh;
}
.app {
    font-family: sans-serif;
    text-align: center;
    background-color: rgba(69,68,67,255);
    height: 150vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    line-height: 1;
    color: white;
  }
  
  .popup-button{
    width: 100px;
    height: 50px;
  }
  #grid {
    align-items: center;
    justify-content: center;
    display:flex;
    justify-content: center;
    align-content:center;
  }
  #inner-grid{
    width:calc(var(--colNum)/var(--rowNum) * var(--vPercent));
    height:var(--vPercent);
  }
  ul.row {
    padding:0px;
    /*margin:1px 0px 0px 0px;*/
    margin:0px 0px 0px 0px;
    list-style: none;
    width:100%;
    height: calc(100% / var(--rowNum) - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .art{
    content: url(./WarpixArt.png);
  }
  .google-signin {
    width:300px;
    height:75px;
  }
  .team-text {
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white; 
  }
  .team-text--blue{
    color:blue;
  }

  .team-text--red{
    color:red;
  }
  .google-signin:hover {
    content: url(google-signin-focus.png);
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
  }
  h3 {
    font-size:25px;
  }
  
   
  .tile {
    width: calc(100% / var(--colNum));
    height: 100%;
    /*margin:0px 1px 0px 0px;*/
    margin:0px 0px 0px 0px;
  }
  .tile--trail {
    box-sizing: border-box;
    border-style: solid;
    border-width: .5px;
  }
  .tile--trail--above {
    border-top: 0px;
  }
  .tile--trail--below {
    border-bottom: 0px;
  }
  .tile--trail--left {
    border-left: 0px;
  }
  .tile--trail--right {
    border-right: 0px;
  }
  .tile--team2 {
    background-color: red;
    
  }
  .tile--team2-trail {
    background-color: rgb(253, 138, 138);
    border-color: rgb(107, 0, 0);
  }

  .tile--team1 {
    background-color: blue;
  }
  .tile--team1-trail {
    background-color: rgba(145, 195, 253, 0.705);
    border-color: darkblue;

  }

  .tile--team0 {
    background-color: lightgrey;
  }
  
  .source{
    border-color: black;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
  }
  
  .transform-component-module_wrapper__SPB86{
    width: 100%;
  }
  .loggedin-header{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    grid-column: 1;
    align-items: center;
  }

  h3.user{
    font-size: 20px;
  }
  .logout-button{
    height:50%;
  }
  .header {
    margin:20px;
    display:grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    align-items: center;
    width:calc(var(--colNum)/var(--rowNum) * var(--vPercent));
  }
  .popup {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: rgba(0,0,0,.4);
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .popup-inner {
    position:relative;
    padding:32px;
    width:100%;
    max-width: 90vw;
    max-height: 90vh;
    background-color: white;

  }

  .popup-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: top;
    padding:0px;
    width:100%
  }
  .popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right:16px;
  }
  
  img.tutorial{
    width:400px;
    height:300px;
  }